#pFooter
  #cFooter.col-lg-12.col-md-12.col-sm-12.col-xs-12.col-centered
    p.text-center
      a.footerLinks(href='#') Link Here 
      | |
      a.footerLinks(href='#') Link Here 
      | |
      a.footerLinks(href='#') Link Here 
      | |
      a.footerLinks(href='#') Link Here 
      | |
      a.footerLinks(href='#') Link Here 
      | |
      a.footerLinks(href='#') Link Here 
      br
      br
      br
      br
      br
      br
      br


script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
