#pBody
  .row
    .col-lg-1.col-md-1.col-sm-0.col-xs-0
    // creates space to center main part of page, reduces to zero on smaller screens
    #cBody.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-centered
      .row
        .moveLeft.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-centered
          first We’re making one aspect of life easier for parents of multiples:
          br  
          img(src='img/homepage/owl_44_44.png')
          second buying and selling gently used sets of clothes!
          br
          br
          .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              a(href='/auction')
                img#shopNow(src='img/homepage/left_2_shop_now.png') 
          br           
          .row
            .moveRight.col-lg-12.col-md-12
              img.moveRight.col-lg-4.col-md-4.col-xs-1.col-sm-1(src='img/homepage/tree.png')
        // closes left Body div
        .moveRight.col-lg-6.col-md-6.col-sm-1.col-xs-1
          img.children(src='img/children/twins.jpg')
          br
          br                           
          img.children(src='img/children/triplets.jpg')              
          br
          br                           
          img.children(src='img/children/quads.jpg')
        // closes right Body div
      // closes row
      .repeatSomething
      // closes reapeatSomething
      #social.col-lg-12.col-md-12.col-sm-12.col-xs-12
        ul#ulSocial.col-lg-12.col-md-12.col-sm-12.col-xs-12
          li.spaceSocial.col-lg-3.col-md-3.col-sm-3.col-xs-3
            img.spaceSocial(src='img/homepage/facebook_callout.png')             
          li.spaceSocial.col-lg-3.col-md-3.col-sm-3.col-xs-3
            img.spaceSocial(src='img/homepage/twitter_callout.png')             
          li.spaceSocial.col-lg-3.col-md-3.col-sm-3.col-xs-3
            img.spaceSocial(src='img/homepage/message_board_callout.png')                          
          li.spaceSocial.col-lg-3.col-md-3.col-sm-3.col-xs-3
            img.spaceSocial(src='img/homepage/special_offers_callout.png')
    // closes cBody div
    .col-lg-1.col-md-1.col-sm-0.col-xs-0
    // creates space to center main part of page, reduces to zero on smaller screens
  // closes row div
  // closes pBody div
