#pBody
  .row
    .col-lg-1.col-md-1.col-sm-0.col-xs-0
    // creates space to center main part of page, reduces to zero on smaller screens
    #cBody.col-lg-10.col-md-10.col-sm-12.col-xs-12.col-centered
      .row
        .col-lg-12
        form#registerForm(method='POST', action='/auction')
          h1 Please add your item               
          .formfield
            .formfield--prompt Item Name:               
              input#itemname(type='text', name='itemname')           
          .formfield
            .formfield--prompt Condition:               
              input#condition(type='condition', name='condition')  
          .formfield
            .formfield--prompt Size:               
              input#size(type='size', name='size')       
          .formfield
            .formfield--prompt Season:               
              input#season(type='season', name='season')       
          .formfield
            .formfield--prompt Type:               
              input#type(type='type', name='type')       
          .formfield
            .formfield--prompt Brand:               
              input#brand(type='brand', name='brand')       
          .formfield
            .formfield--prompt Link to picture:               
              input#picture(type='picture', name='picture')       
          input(type='submit', value='Add Item')
 
    // closes cBody div
    .col-lg-1.col-md-1.col-sm-0.col-xs-0
